.rbx/
.bundle/
*.gem
.idea/
.ruby-gemset
.ruby-version
.rvmrc

.byebug_history
.vscode

*.swp
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
gemfiles/*.lock
coverage
tags
Gemfile.lock
